body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
}
/* #F5B42B thematic orange colour */


#logo {
    width: 75%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    filter: none;
}

.desktop-only {
    display: none;
}

@media screen and (min-width: 768px){
    #logo:hover {
        -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.8));
        -moz-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, .8));
        -ms-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, .8));
        -o-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, .8));
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, .8));
        animation-delay: 0s;
        animation-duration: 700ms;
    }

    #logo {
        animation-name: press-logo-emphasis;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        transition: filter 400ms, opacity 600ms;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: top left;
    }

    #galleryButton {
        visibility: hidden;
        display: none;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;

    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #F5B42B;
    text-shadow: 0px 0px 5px white;
}

.game-resource {
    display: none;
}

.horizontal-centered {
    margin-right: auto;
    margin-left: auto;
}

.centered {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none !important;
}

#canvas {
    display: block;
    background: black;
    border: rebeccapurple;
    border-bottom-style: ridge;
}

#start-button {
    max-width: 40%;
    max-height: 40%;
    stroke: #F5B42B;
    fill: rgba(0,0,0,0.5);
    transition: fill 300ms, opacity 300ms;
}

/* fade in (secret loading time) for the start buttons */
.starter { 
    opacity: 0;
    transition: opacity 500ms;
}

@media screen and (max-width: 768px){
    #logo.starter {
        opacity: 1;
    }
}

.visible {
    opacity: 1;
}

#explanation-overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: #F5B42B;
    text-shadow: 0px 0px 5px white;
}

#mobile-controls {
    width: 50vw;
    display: flex;
    align-items: center;
}

.mobile-gamepad-button {
    border-radius: 8px;
    font-size: 20px;
    width: 15vw;
    height: 15vw;
    background-color: #F5B42B;
}

#noise{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-position-x: 0px;
  background-position-y: 0px;
  animation: background-slide 38s infinite alternate ease-in-out;
  filter: contrast(4) brightness(0.1);
  z-index: -5;
}

.flex-container--column {
    display: flex;
    flex-direction: column;
}

.flex--auto-size {
    flex: 1 1 0px;
}

@keyframes background-slide {
    0%   {background-position: 0px 0px;}
    25%  {background-position: 83px 55px;}
    50%  {background-position: 166px 0px;}
    75%  {background-position: 250px -55px;}
    100% {background-position: 333px 0px;}
}

@keyframes press-logo-emphasis {
    0%   {transform: rotate(0deg) translate(-50%, -50%);}
    04%  {transform: rotate(-2deg) translate(-50%, -50%);}
    08%  {transform: rotate(0deg) translate(-50%, -50%);}
    12%  {transform: rotate(2deg) translate(-50%, -50%);}
    16%  {transform: rotate(0deg) translate(-50%, -50%);}
    20%  {transform: rotate(-0.5deg) translate(-50%, -50%);}
    24%  {transform: rotate(0deg) translate(-50%, -50%);}
    100% {transform: rotate(0deg) translate(-50%, -50%); }
}

